[submodule "wa-hls4ml-models"]
	path = wa-hls4ml-models
	url = git@github.com:GiuseppeDiGuglielmo/wa_hls4ml_models.git
	branch = Catapult-ASIC-dev
[submodule "wa-hls4ml-search"]
	path = wa-hls4ml-search
	url = git@github.com:GiuseppeDiGuglielmo/wa-hls4ml-search.git
	branch = Catapult-ASIC-dev
