[submodule "wa_hls4ml_models"]
	path = wa_hls4ml_models
	url = git@github.com:GiuseppeDiGuglielmo/wa_hls4ml_models.git
	branch = Catapult-ASIC-dev
[submodule "wa-hls4ml-search"]
	path = wa-hls4ml-search
	url = git@github.com:GiuseppeDiGuglielmo/wa-hls4ml-search.git
	branch = Catapult-ASIC-dev
[submodule "rule4ml"]
	path = rule4ml
	url = https://github.com/IMPETUS-UdeS/rule4ml.git
	branch = trets
